<h1>All Listings</h1>


<table>
    <th>Item</th>
    <th>Price</th>

    <% @listings.each do |key, val| %>
    <tr>
        <td> <%= key %> </td>
        <td> $<%= "%.2f" % val %> </td>
    </tr>
    <% end %>
</table>